[Unit]
Description=Limit battery charge threshold to 80%%

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo 80 > /sys/class/power_supply/macsmc-battery/charge_control_end_threshold'

[Install]
WantedBy=multi-user.target
