[Desktop Entry]
Type=Application
Version=1.0
Name=WinBox
Comment=GUI administration for Mikrotik RouterOS
Exec=/usr/bin/env --unset=QT_QPA_PLATFORM QT_SCALE_FACTOR=2 /usr/bin/WinBox
Icon=winbox
Terminal=false
Categories=Utility
StartupWMClass=winbox
